extends layout

block content
	script(type='text/javascript')
		$(document).ready(function(){
			//Loads masonry
			$( '#container' ).masonry( { itemSelector: '.item'} );

			//Loads in content received from server
			var options = !{JSON.stringify(variable.content)};
			theUser = !{JSON.stringify(variable.user)}; 
 
			$.getScript("public/javascripts/load_content.js", function(){
						loadInContent(options, theUser, $('#container'));
			});
			$('#container').masonry('reload')

			//Sets on click listener for like button of content
			$(document).delegate("div[id^='likeDiv']", "click", function() {
				var el = this;
				console.log('The name is: ' +$(el).attr('name'));
				$.getScript("public/javascripts/load_content.js", function(){
						haveLikedOrDislikedObject(0, $(el).attr('name'));
				});
			});

			//Sets on click listener for dislike button of content
			$(document).delegate("div[id^='dislikeDiv']", "click", function() {
				var el = this;
				console.log('The name is: ' +$(el).attr('name'));
				$.getScript("public/javascripts/load_content.js", function(){
						haveLikedOrDislikedObject(1, $(el).attr('name'));
				});
			});
		});
	center
		h1= "Like or Dislike"
		div(id="container", style="position: relative;", class="masonry")