doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/public/stylesheets/stylesheet.css')
		script(src='http://code.jquery.com/jquery-latest.js')
		script(src='/public/javascripts/jquery.masonry.js')
		
	body
		center
			h1= "Style or Flop"
			p
				|  <a href='/'>Home</a>
				| - 
				|  <a href='/categories'>Categories</a>
				| - 
				|  <a href='/users'>Users</a>
				| - 
				|  <a href='/upload_content'>Upload Content</a>
		block content

