doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/public/stylesheets/stylesheet.css')
		script(src='http://code.jquery.com/jquery-latest.js')
		script(src='/public/javascripts/jquery.masonry.js')
		
	body
		a(href="/") Home
		br
		a(href="/upload_content") Upload Content
		block content

