.contentImg{
	height:auto;
	margin:4px;
}

body {
    font-family: sans-serif;
	background:#f2f2f2;
}

p{
	margin: 0px;
}

a:link 
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
	font-size:13px;
	color: #1181ea;
	text-decoration:none;
}
a:visited
{
	color: #1181ea;
	text-decoration:none;
}
a:hover 
{
	color: #333;
}
a:active
{
	color: #00a6cf;
	text-decoration:underline;
}

#container {
	padding: 5px;
}

.itemTall {
	height: 300px;
	width: 100px;
    float: left;
    background: #CCC;
}

.item.Wide {
    float: left;
    background: #CCC;
	margin: 2px;
	border:thin;
}

.item.w2 {
    width: 130px;
}

.item.h2 {
    height: 130px;
}

.centeredInDiv{
	text-align: center;
	vertical-align: middle;
	/*min-height: 10em;*/
    display: table-cell;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
}

/* ---------------------------- 
CSS for An Object Box
---------------------------- */
.item.content{
	background-color: #CCC;
	text-align: center;
}

.spacerDiv{
	height: 30px;
	width: 20px;	
}

.likeDiv{
 	height: 30px;
 	width: 60px;
	background-color: #0C3;	
}

.dislikeDiv{
	height: 30px;
 	width: 60px;
	background-color: #903;
}

.haveLikedDiv{
	width: 140px;
	display: none;
}

.likesVsDislikesDiv{
	width: 140px;
	display: none;
}

.greenP{
	color: #0C0;
}

.redP{
	color: #903;
}